<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/javascript; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/cover.css" />


</head>
<body>
	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">

						<nav>
							<ul class="nav masthead-nav">
								<li ><a href="/index">Home</a></li>
								<li class="active"><a href="/login">Login</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>


				<div class="inner cover">
					<span th:text="${errorMessage} ?:_">no user authenticated</span>
					<span th:text="${singUpMessage} ?:_"></span>
					<form class="form-signin" action="#" th:action="@{/login}"
						th:object="${user}" method="post">
						<h2 class="form-signin-heading">Let Login!</h2>



						<label for="inputEmail" class="sr-only">Email address</label> <input
							th:field="*{email}" type="email" id="email" class="form-control"
							placeholder="Email address"></input> <label for="inputPassword"
							class="sr-only">Password</label> <input th:field="*{password}"
							type="password" id="password" class="form-control"
							placeholder="Password"></input>

						<button class="btn btn-lg btn-primary btn-block" type="submit">Login
						</button>
					</form>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>
							Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
							by <a href="https://twitter.com/mdo">@mdo</a>.
						</p>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="container"></div>
	<input type="hidden" name="${_csrf.parameterName}"
		value="${_csrf.token}" />

	<!--     <button type="button" class="btn btn-success">This is a success button</button> -->
	<!--     <button type="button" class="btn btn-warning">This is a warning button</button> -->
	<!--     <button type="button" class="btn btn-danger">This is a danger button</button> -->

	<script type="text/javascript" src="/js/jquery-2.1.4.min.js" />
	<script type="text/javascript" src="/js/bootstrap.min.js" />



</body>
</html>

