<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/cover.css" />
</head>
<body>
	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">

						<nav>
							<ul class="nav masthead-nav">
								<li class="active"><a href="../index">Home</a></li>
								<li><a href="#">Features</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="inner cover">
				<form class="form-signin" action="#" th:action="@{/user/add}" th:object="${user}"  method="post">
						<h2 class="form-signin-heading">Please sign up</h2>
						
						    <label for="inputName" class="sr-only">Name</label> <input th:field="*{name}" 
							id="name" class="form-control"
							placeholder="Name"></input> 
							
							<label for="inputSurname" class="sr-only">Surname</label> <input  th:field="*{surname}"
							id="surname" class="form-control"
							placeholder="Surname"></input> 
							
							<label for="inputEmail" class="sr-only">Email address</label> <input th:field="*{email}"
							type="email" id="email" class="form-control"
							placeholder="Email address"></input> 
							
							<label for="inputPassword"
							class="sr-only">Password</label> <input th:field="*{password}" type="password"
							id="password"  class="form-control" placeholder="Password"></input>

						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
							in</button>
					</form>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>
							Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
							by <a href="https://twitter.com/mdo">@mdo</a>.
						</p>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="container"></div>


	<!--     <button type="button" class="btn btn-success">This is a success button</button> -->
	<!--     <button type="button" class="btn btn-warning">This is a warning button</button> -->
	<!--     <button type="button" class="btn btn-danger">This is a danger button</button> -->

	<script src="/js/bootstrap.min.js">
		
	</script>

</body>
</html>

