<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/javascript; charset=UTF-8"/>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/cover.css" />
<script type="text/javascript" src="/js/bootstrap.min.js"/>
		
	
</head>
<body>
	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">

						<nav>
							<ul class="nav masthead-nav">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Features</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
                 
                            
				<div class="inner cover">
				<span th:text="${errorMessage} ?: _">no user authenticated</span>
				<form class="form-signin" action="#" th:action="@{/todo/add}" th:object="${todo}"  method="post">
						<h2 class="form-signin-heading">Please sign in</h2>
					
							 <label for="inputDefine" class="sr-only">Define</label> <textarea maxlength="50" rows="5" cols="10" th:field="*{define}"
							id="define" class="form-control"
							placeholder="Define" required="required"></textarea> 
							
							<label for="inputDate"
							class="sr-only">Password</label> <input th:field="*{date}" type="date"
							id="date" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"  class="form-control" placeholder="Date" required="required"></input>

						<button class="btn btn-lg btn-primary btn-block" type="submit">Save
							</button>
					</form>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>
							Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
							by <a href="https://twitter.com/mdo">@mdo</a>.
						</p>
					</div>
				</div>

			</div>

		</div>

	</div>

	
	

</body>
</html>

