<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/cover.css" />
<title>Login page</title>
</head>
<body>
	<div class="site-wrapper">

		<div class="site-wrapper-inner">
			<div class="masthead clearfix" style="min-width: 1200px;">
				<div class="inner">

					<nav>
						<ul class="nav masthead-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="/logout">Log out</a></li>
							<li><h4>
									Welcome <span th:text="${userName} ?: anonymous"></span>
								</h4></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="container"
				style="min-width: 1300px; height: 70%; /* For at least Firefox */ min-height: -50%;">
				<div class="container">
					<table class="table table-inverse">
						<thead>
							<tr>
								<th>TODO</th>
								<th style="text-align:right;" >Date</th>
								<th style="text-align: right;"><a href="/todo/add"
									class="btn btn-sm btn-primary"><span
										class="glyphicon glyphicon-plus"></span> New </a></th>

							</tr>
						</thead>
						<tbody th:each="td: ${todolist}">
							<tr>
								<td style="text-align: left;" th:text="${td.define}"></td>
								<td style="text-align: right;" th:text="${td.date}"></td>
								<td style="text-align: right;"><a
									th:href="@{'/todo/delete/' + ${td.toDoId}}"
									class="btn btn-sm btn-primary"><span title="delete"
										class="glyphicon glyphicon-trash"></span></a></td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="mastfoot" style="min-width: 1200px;">
					<div class="inner">
						<p>
							Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
							by <a href="https://twitter.com/mdo">@mdo</a>.
						</p>
					</div>
				</div>

			</div>

		</div>

	</div>




</body>
</html>

